nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    font: size 200%;;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
}
nav p span {
    border: 1px solid;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    color: white;
    
} 
nav ul p {
    margin-right: 200%;
}
.notif {
    border: 1px solid;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    position: absolute; 
    padding: 2px 6px;
    font-size: 12px;
}
.iconcontainer {
    position: relative;
    right: 4%;
}

