*{
    font-family: Arial, Helvetica, sans-serif;
}
.firstSection{
    border: 1px solid white;
    width: 100%;
    height: 75vh;
    background-image: url(imageWorkGroup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.bgFirstSection{
    /* border: 1px solid black; */
    width: 40%;
    background-color: rgba(1, 1, 143, 0.589);
    border: 1px solid rgba(1, 1, 143, 0.589);
    box-sizing: border-box;
    height: 70%;
    margin: 5%;
    margin-left: 50%;
}
.paragrapheBgFirstSection{
    border: 1px solid rgba(1, 1, 143, 0.048);
    box-sizing: border-box;
    padding: 10% 5%;
}
.paragrapheBgFirstSection h1, .paragrapheBgFirstSection h2{
    color: white;
}
.paragrapheBgFirstSection h1{
    line-height: 0;
    padding-bottom: 5%;
}
.paragrapheBgFirstSection h2{
    font-weight: lighter;
}
/* ----------deuxième Section--------- */
.secondSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondSection .imgConteinerSecondSection{
    width: 50%;
    height: 70vh;
}
.secondSection .imgConteinerSecondSection img{
    object-fit: contain;
    width: 100%;
    max-height: 70vh;
}
.paragrapheSecondSection{
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    width: 49%;
}
.paragrapheSecondSection h1{
    color: rgb(65, 65, 245);
    text-align: center;
}
.paragrapheSecondSection p{
    color: rgb(90, 88, 88);
    text-align: center;
}
.paragrapheSecondSection button{
    position: absolute;
    left: 50%;
    background-color: rgb(24, 20, 20);
    padding: 10px;
    border-radius: 20px;
}
.paragrapheSecondSection button a{
    text-decoration: none;
    color: white;
}
/* ------Bilan Comparé-------- */
.bilanComparé{
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 100%;
    color: white;
    background-color: rgb(1, 1, 104);
    padding: 40px;
}
.bilanComparé h1{
    text-align: center;
}
.conteinerBilanComparé{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteinerBilanComparé .leftHand{
    width: 50%;
}
.conteinerBilanComparé .leftHand button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: grey;
}
.conteinerBilanComparé .leftHand button a{
    color: white;
    text-decoration: none;
}
hr{
    width: 90%;
    margin: 5% auto;
    border: 1px solid black;
    border-radius: 5px;
}
/* ----------Dernière section---------- */
.pk{
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    height: 70vh;
}
.txtPk{
    padding: 10px 200px;
}
.pk h1{
    color: burlywood;
    font-size: 3rem;
}
.pk p span{
    font-weight: bolder;
}